<div class="modal fade" id="modalEditarZona" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Zona Común</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="editarZonaForm" class="row g-3">
          <div class="col-lg-2">
            <label for="editZonaCodigo"class="form-label small">Código (solo lectura)</label>
            <input id="editZonaCodigo" type="text" class="form-control form-control-sm" disabled>
          </div>
          <div class="col-lg-2">
            <label for="editZonaTipo"class="form-label small">Tipo (solo lectura)</label>
            <input id="editZonaTipo" type="text" class="form-control form-control-sm" disabled>
          </div>
          <div class="col-lg-8">
            <label for="editZonaDescripcion"class="form-label small">Descripción</label>
            <input id="editZonaDescripcion" type="text" class="form-control form-control-sm" required autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaHoraApertura"class="form-label small">Hora apertura</label>
            <input id="editZonaHoraApertura" type="time" class="form-control form-control-sm" required autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaHoraCierre"class="form-label small">Hora cierre</label>
            <input id="editZonaHoraCierre" type="time" class="form-control form-control-sm" required autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaDuracionMin"class="form-label small">Dur. mín. (horas)</label>
            <input id="editZonaDuracionMin" type="number" class="form-control form-control-sm" min="1" required autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaDuracionMax"class="form-label small">Dur. máx. (horas)</label>
            <input id="editZonaDuracionMax" type="number" class="form-control form-control-sm" min="1" required autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaCosto"class="form-label small">Costo</label>
            <input id="editZonaCosto" type="number" class="form-control form-control-sm" step="0.01" min="0" autocomplete="off">
          </div>
          <div class="col-lg-3">
            <label for="editZonaDeposito"class="form-label small">Depósito</label>
            <input id="editZonaDeposito" type="number" class="form-control form-control-sm" step="0.01" min="0" autocomplete="off">
          </div>
          <div class="col-lg-2">
            <div class="form-check mt-4">
              <input id="editZonaRequierePago" type="checkbox" class="form-check-input" autocomplete="off">
              <label class="form-check-label small" for="editZonaRequierePago">Requiere pago</label>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-check mt-4">
              <input id="editZonaRequiereAprobacion" type="checkbox" class="form-check-input" autocomplete="off">
              <label class="form-check-label small" for="editZonaRequiereAprobacion">Req. aprobación</label>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-check mt-4">
              <input id="editZonaSoportaRecreativa" type="checkbox" class="form-check-input" autocomplete="off">
              <label class="form-check-label small" for="editZonaSoportaRecreativa">Soporta recreativa</label>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-check mt-4">
              <input id="editZonaActivo" type="checkbox" class="form-check-input" autocomplete="off">
              <label class="form-check-label small" for="editZonaActivo">Activo</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="editZonaSubmit" type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
